.container
    %h1= @representative.name
    %p Office: #{@representative.title}
    %p Contact Address: #{@representative.contact_address}
    %p Political Party: #{@representative.political_party}
    - if @representative.photo_url.present?
        %img{ src: @representative.photo_url, alt: 'Representative Photo' }
    - else
        %p No photo available
