.container
    %h1= @representative.name
    %p Office: #{@representative.title}
    %p Contact Address: Placeholder Street, Placeholder City, State, ZIP
    %p Political Party: Placeholder Party
    %img{ src: 'placeholder_image_url', alt: 'Representative Photo' }
